.form-card-grid {
    display: block;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 150px);
    row-gap: 10px;
}


.selection-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
}



ion-input.form-input {
    border: #404040 1px solid;
    padding: 10px;
    border-radius: 15px;
}

