ion-content.background {
    background-color: #2F4858;
}

#target{
    width: 60%;
    height: 37%;
    background-color: #FFE3F1;
    border-radius: 9%;
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-top: 25%;
    position: inherit;
}

#pattern{
    height: 45%;
    max-width: 53%;
    margin: auto;
    position: absolute;
    pointer-events: none;
    top: 6px;
}

.container-grid {
    padding: 0 0.5rem;

}