ion-list.productList {
    --ion-background-color:#323232;
    height: 75%;
    padding-top: 0;
    padding-bottom: 0;
    overflow-y: scroll;
    border-radius: 15px;
 }

 ion-list.productList ion-item{
    --ion-background-color:#323232;
 }