.container-view {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-user-view {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.custom-fab {
    width: 105px;
    position: relative;
    right: 65px;
    overflow: visible;
    --border-radius: 35px;
}

.custom-fab span {
    font-weight: bold;
    margin: 0 5px;
}


ion-fab-button ion-icon.custom{
    background: #ED4264;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #FFEDBC, #ED4264);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #FFEDBC, #ED4264); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #323232;
    border-radius: 15px;
    padding: 5px;
}