.my-custom-class .modal-wrapper {
    --background: rgba(255, 255, 255, 0.3) ;
    font-family: sans-serif;
    text-align: center;
    line-height: 1;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 20px 40px;
    margin-top: 4.5rem;
    border-radius: 25px 25px 0px 0px;
    
}

form {
    height: 100%;
}

ion-slides.card-form {
    height: 100%;
}

ion-slides.card-form  .swiper-slide {
    display: block;
}

.my-custom-class .modal-wrapper ion-content  {
    --background: rgba(0, 0, 0, 0.3) !important ;
}

.form-card-grid {
    display: block;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 150px);
    row-gap: 10px;
}


.selection-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
}



ion-input.form-input {
    border: #404040 1px solid;
    padding: 10px;
    border-radius: 15px;
}

.panel-form {
    background: #171717;
    border-radius: 10px 10px 0px;
}

ion-item {
    --background: transparent;
}

.btn-close {
    color: #404040;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: white;
    padding: 10px;
}