
ion-slides.introduction {
    height: 100%;
    padding: 0.5rem;
}

ion-slides.introduction  .swiper-slide {
    display: block;
}

ion-slides.introduction  .swiper-slide h2 {
    margin-top: 2.8rem;
}

ion-slides.introduction  .swiper-slide img.slider {
    max-height: 50%;
    max-width: 80%;
    margin: 60px 0 40px;
    pointer-events: none;
}

ion-slides.introduction  .swiper-pagination  {
    text-align: start;
}

ion-slides.introduction  .swiper-pagination .swiper-pagination-bullet {
    background-color: #60646b;
    height: 5px;
    border-radius: 5px;
    opacity: .4;
    transition: all .2s;
}

ion-slides.introduction  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: white;
    height: 5px;
    border: 5px;
    width: 20px;
    border-radius: 5px;
    opacity: 1;
}

.background {
    --ion-background-color: var(--backgroundIntro);  /* fallback for old browsers */
}

.background-gain {
    width: 200px;
    height: 350px;
    background: linear-gradient(0deg, rgba(125, 172, 39, 0.3), rgba(0, 132, 255, 0.3)), url('../../assets/img/gain.png');
    background-size: cover;
    padding: 15px;
    border-radius: 130px;
    box-shadow: 0 0 15px 2px #A3CFCD;
    margin: 30px 15px;
}

.Logo {
    display: grid;
    grid-template-columns: 60px  1fr;
    grid-template-rows: 55px;
}

.Logo .image-logo {
    border-radius: 10px;
    width: 55px;
    height: 55px;
    background-color: #FFA900;
}

.logo-text {
    text-align: left;
    margin: revert;
}

button.next-page {
    width: fit-content;
    height: 5rem;
    margin-right: 1.2rem;
}

.btn.btn-introduction {
    width: 14.5rem;
}