.selection-grid {
    display: grid;
    width: 100%;
    grid-template-columns: 40% 60%;
}

.btn-group {
    position: fixed;
    bottom: 10%;
    display: grid;
    width: 90%;
    grid-template-columns: 1fr 1fr;
}