#target_final{
    width: 100%;
    height: 100%;
    background-color: #71EFA3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 3%;
    margin-bottom: 3%;
    z-index: 100;
}

.pre-card {
    border-radius: 5rem;
    width: 150px;
    height: 80px;
    
}