.card {
    position: relative;
    padding: 15px;
    border-radius: 25px;
    height: 190px;
    width: 400px;
    margin: 0 10px;
    opacity: 0.7;
    text-align: start;
    overflow: auto;
  }
  
.active {
    opacity: 1;
}