ion-slides {
    height: 100%;
}


.general-grid {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: minmax(30px, auto);
   
    /*column-gap o row-gap espaciado especifico*/
  }

  

.card-position {
    margin: 10px 10px 0px 20px;
    grid-column: 1/3;
    display: flex;
    flex: 1;
    flex-direction: row;
} 

.add-card {
  padding: 15px;
  border-radius: 50%;
  /* opacity: 0.7; */
  text-align: start;
  background: #fff;
  height: 20px;
  width: 20px;
  color: #f8f8f8;
  border: 2px solid #eee;
}





  
