@import './input.css';
@import '../../node_modules/animate.css/animate.min.css';

:root {
    --backgroundIntro: #000;
    --gris2: #6f6f6f;
    --gris3: #e1e1e1;
    --naranja: #da552f;
}
  
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
  
*, *:before, *:after {
    font-family: 'Poppins', sans-serif;
    box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    color: #fff;
}

.text-dark {
    color: #262626
}

.text-white {
    color: #fff
}

.alternate-font {
    font-weight: '400';
    font-family: 'Nunito, sans-serif';
}

ion-content {
    --padding: 15px !important;
    height: 100%;
}


.avatar {
    width: 40px;
    height: 40px;
    border-radius: 15%;
    margin: auto;
    background-image: url("../assets/img/avatar_2.png");
    background-size: cover;
}

.avatar-icon-success {
    border-radius: 55%;
    background-color: #CAF7E3;
    color: #000;
    margin: auto;
    padding: 5px;
    font-size: 31px;
 }

 
.text-success {
    color: '#3CB37A';
}

.text-danger {
    color: '#5CA0FE';
}

 .avatar-icon-danger {
    border-radius: 55%;
    background-color: #F39189;
    color: #000;
    margin: auto;
    padding: 5px;
    font-size: 31px;
 }

ion-tab-bar {
    --ion-background-color: #323232;
}

.tab-item {
    display: flex;
}

.tab-item ion-label {
    padding: 0 5px;
    display: none;
}

.tab-item ion-icon {
    font-size: 20px;
}

ion-tab-button {
    width: min-content;
}

ion-tab-button.tab-selected .tab-item{
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 900;
}

ion-tab-button.tab-selected .tab-item ion-label{
    display: block;
    margin: auto;
}



.col-1 {
    grid-column: 1/1;
}
.col-10 {
    grid-column-end: 10;
}
.col-11 {
    grid-column-end: 11;
}
.col-12 {
    grid-column-end: 12;
}



@keyframes zoom-in {

    from {
        right: -45px;
        /*transform: translateX(-195px);*/
        opacity: .25;
        transform: translate3d(65px, 0, 0);
    }  
    to {
        right: -40px;
        transform: none;
        opacity: 1;
    }

}

ion-fab[horizontal="end"][vertical="bottom"] ion-fab-list {

     animation: zoom-in .35s;

}

.custom-alert-css .alert-wrapper {
    background: #404040;
    border-radius: 15px;
    border-top: none;
    color: #fff;
}


