input {
    background-color: #323232;
    padding: 15px;
    border-radius: 10px;
    border: #323232 1px solid;
    transition: all 1s;
    font-size: 16px;
}

input:focus-visible {
    outline: none;
}

input:focus{
    border: #1b1b1b 1px solid;
    background-color: #323232;
}

input.error {
    border: #FF6767 1px solid;
}

input.success {
    border: #30E3CA 1px solid;
}

input::placeholder{
    color: #ccc;
}

select {
    background-color: #323232;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

select:focus-visible {
    outline: none;
}

ion-select.form-input {
    background: #323232;
    padding: 10px;
    border-radius: 10px;
}

ion-select.form-input.success {
    border: #30E3CA 1px solid;
}

ion-select.form-input.error {
    border: #FF6767 1px solid;
}

.form-control {
    display: grid;
    width: 100%;
    margin:  10px 0;
}


button.primary {
    color: #1b1b1b;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: bold;
}

button.link {
    color: #7DEDFF;
    text-decoration: underline;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: 500;
}