
.display-amount {
    font-size: 25px;
    font-weight: 800;
    margin: auto 0px;  
}

img.bank-brand {
    width: 48px;
    height: 30px;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    grid-column: 3/4; 
    margin-left: auto;
  }

  h6.bank-brand {
    font-weight: 700;
    background: #fff;
    padding: 5px;
    color: #323232;
    border-radius: 5px;
    margin: 0 0 0 auto;
    grid-column: 3/4;
    height: fit-content;
    font-size: 14px;
  }

  .card-background {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
    
  .card .card-number {
      font-size: 20px;
      font-weight: 300;
      margin: 10px 0 0;
  }