

 .add-category {
    grid-column: 3 / 4;
    height: 26px;
    width: 26px;
    margin-top: auto;
    margin-left: auto;
 }


.balance-grid {
    width: 100%;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

.balance-default-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    font-size: 13px;
}

.tile-title {
    font-size: 15.5px;
    grid-column: 1/4;
    font-weight: bold;
    margin-bottom: 0;
}

.resume-widget {
    padding: 10px 0 0;
    grid-column: 1/5;
    grid-row: 1/6;
}

.no-data-container {
    height: 60%;
}

.no-data-text {
    margin: auto;
    grid-column: 1/4;
}

